body{
  background-color: #9266ff;
}
.App{
  background-color:#3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-from input{
  background-color: cornsilk;
  border: 0;
  width: 200px;
  height: 30px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  
}
#to-do-form ::placeholder{
  color:rgba(255, 255, 255, 0.5);
}
#to-do-from input:focus,#to-do-from button:focus{
  outline: none;
}
#to-do-from button{
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border:0;
  background-color: sandybrown;
  cursor: pointer;
}

  